/* framed version */

/*.desktop-label-nonempty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(128, 128, 128, 0.7);
  color: rgba(207, 207, 207, 1);
  border: 1px solid rgba(207, 207, 207, 0.7);
  border-radius: 4px;
}

.desktop-label-nonempty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(76, 76, 76, 0.7);
  color: rgba(207, 207, 207, 0.7);
  border: 1px solid rgba(207, 207, 207, 0.7);
  border-radius: 4px;
}

.desktop-label-empty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(128, 128, 128, 0.7);
  color: rgba(207, 207, 207, 1);
  border: 1px solid rgba(207, 207, 207, 0);
  border-radius: 4px;
}

.desktop-label-empty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(76, 76, 76, 0.7);
  color: rgba(207, 207, 207, 0.7);
  border: 1px solid rgba(207, 207, 207, 0);
  border-radius: 4px;
}*/

/* non-framed version */

.desktop-label-nonempty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(154, 154, 154, 0.7);
  border-radius: 4px;
}

.desktop-label-nonempty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(96, 96, 96, 0.7);
  border-radius: 4px;
}

.desktop-label-empty-active {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(154, 154, 154, 0.7);
  border-radius: 4px;
}

.desktop-label-empty-inactive {
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 4px;
}
